
<div class = "container">
	<h2>Hi, <%= @question.survey.user.username %></h2>
	<h4>Survey: <%= @survey.name.upcase %></h4>
	<h5>Question: <%= @question.description.upcase %></h5>


      <img src="<%= @question.file.thumb.url %>"></img>
      <h5>Choices: </h5>

</div>

