

<!-- 1) LOGGING IN -->

<div class="container">
<h2>LOG IN</h2>
  <form action="/users/login" method="post">
    <input type="text" name ="user[username]" placeholder="username">
    <input type="text" name ="user[password]" placeholder="password">
    <input type="submit" value="Log in">
  </form>
</div>


<!-- 2) SIGNING UP -->

<div class="container">
  <p>*No Account Yet?</p>
  <h2>SIGN UP here...</h2>
  <form action="/users/signup" method="post">
    <input type="text" placeholder ="email" name="user[username]">
    <input type="text" placeholder = "password" name="user[password]">
    <input type="submit" value="Register">
  </form>
</div>