
<!-- CREATE NEW SURVEY -->
<div class ="container">
	<h4>Create new survey</h4>
	<div id="container">
		<form action="/surveys/create" method="post">
			<input type="text" name="survey[name]" placeholder = "survey name">
			
			<input type="submit" value="Submit!">

		</form>
	</div>
</div>
