
<!-- CREATE NEW SURVEY -->
<div class ="container">
<div id ="container">
	<p>Survey: <%= @survey.name%></p>
	<form action="/surveys/<%= @survey.id %>/create" method="post">
			<button id="add_question">Add Questions</button>

		 	 <div id="questions">
			<!-- AJAX WILL FILL THIS SECTION WITH QUESTIONS AND CHOICES -->
		 	 </div>

			<br><br>
			<input type="submit" value="Submit!">

		</form>
	</div>
</div>
</div>


<script>
$(document).ready(function() {
  var question_counter = 0
  var choice_counter = 0

	function getQuestion() {
	  question_counter++;
	  choice_counter = 0;
	  return(
	  	'<div id="question-'+question_counter+'">\
	    <label for="q-'+question_counter+'">Question '+question_counter+'</label>\
	    <textarea name="question[q-'+question_counter+']"></textarea>\
	    <br><br>	\
	    <button class="add_choice">Add Choice</button></div>'
	  )
	};


	function getChoice() {
	  choice_counter++;
	  return ('<textarea name="choice[question-'+question_counter+'-choice-'+choice_counter+']"></textarea>')
	};


	$("#add_question").on('click', function(e){
	  e.preventDefault();
	  $("#questions").append(getQuestion());
	});


	$("#container").on('click', '.add_choice',function(e){
	  e.preventDefault();
	  $(this).parent().append(getChoice());
	});


});

</script>