<div class ="container">
	<h1>Your Surveys</h1>
	<% @surveys.each_with_index do |survey, index| %>
	  <a href="/surveys/<%= survey.id %>">
	    <p><%= "#{index + 1}. #{survey.name}" %></p>
	  </a>
	<% end %>


	<form action ="/surveys/create" method ="get">
		<button id="create_survey">Create Survey</button>
	</form>

</div>