<div class ="container">
  <h2>Survey: <%= @survey.name.upcase %></h2>
  <% @survey.questions.each do |question| %>
    <a href="/questions/<%= question.id %>"><%= question.description %></a>
  <% end %>

</div>